.img-title img{
 width: 90%;
}
.first-section{
    display: flex;
    justify-content: space-around;
    margin: 0;
}
body{
    margin: 0;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
.title h2{
    text-transform: capitalize;
    font-size: 50px;
    color: gray;
    font-family: 900;
 
}
.title p{
    color: gray;
    font-weight: 500;
}
 
 span{
    color:    orange;
 }
 .title button{
    padding: 15px 28px;
    margin: 25px 35px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    background-image: linear-gradient(red, yellow);
    border-radius: 50px;
    color: white;
    font-weight: 700;
 }
 .title{
    margin-left: 40px;
    padding: 40px;
 }
 .img-title{
    margin :  40px;
    padding: 50px;
    
 }
 .section-two{
    display: flex;
    justify-content:  space-around;
 background-image: url(Frame\ 57.jpg);
    background-repeat: no-repeat;
  
  
 }
 .img-two img{
    width: 140%; 
    padding: 60px;
 
 }
 .title-two h2{
    text-transform: capitalize;
    font-size: 30px;
    color: rgba(57, 54, 54, 0.748);
    margin: 20px 30px;

 }
 .title-two p{
    font-size: 500;
    text-transform: capitalize;
    color:  gray;
    margin: 20px 30px;
    
 }
 .title-two button{
    padding: 15px 28px;
    margin: 20px 30px;
    background: #c2e59c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius: 30px;
text-transform: capitalize;
font-weight: 700;
 }
 .title-two{
   margin: 50px 50px 50px 200px;
   padding: 50px 120px;
   
   
 }
 .recipies{
   display: flex;
   justify-content: space-around;
  text-align: center;
  width: 70%;
 ;
 
 margin: 0 auto;
 }
  
 
 .my-recipies h2{
text-align: center;
text-transform: capitalize;
font-size: 30px;
color: gray;
font-weight: 700;
margin: 0;
padding: 0;
 }
 .my-recipies p{
   text-align: center;
  }
 .im-title{
     box-shadow: 5px 8px 15px 7px gray;
      margin-top: 2rem;
      width: 40%;
      border-radius: 20px;
      
      background-color: rgb(199, 173, 173) ; 
      border-left: #c2e59c solid 9px;      

 }

 .width{
   padding: 35px;
   width: 70%;
  
   
 }
 
 .im-title h2{
   color: blue;
   text-align: left;
   padding: 2rem;
  
 }
 .im-title p{
   text-align: left;
   text-transform: capitalize;
   padding: 2rem;
 }
    
 footer{
   font-size: 20px;
   text-transform: capitalize;
   text-align: center;
   color: white;
 }
 .footer{
   text-align: center;
   text-transform: capitalize;
   color: white;
 }
 .foter{
   background-color: rgba(15, 15, 16, 0.865);
 }
 .social{
   display: flex;
   justify-content: space-evenly;
 box-shadow: 10px 5px 8px 3px ;
 margin: 30px 35px;
 padding: 20px 28;
   
   
 }
 .social h5{
   padding: 20px;
   margin: 30px;
 }
 .social h1{
   padding: 20px;
   margin: 30px;
 }
 